<div class="row">
  <div class="span5 offset3 well">
    <legend>Registro</legend>
    <%= devise_error_messages! %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "form-horizontal" }) do |f| %>
      <fieldset>
        <div class="control-group">
          <%= f.label :email, class: "control-label" %>
          <div class="controls">
            <%= f.email_field :email, class: "input-xlarge", placeholder: "user@example.com" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password, class: "control-label" %>
          <div class="controls">
            <%= f.password_field :password, class: "input-xlarge" %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :password_confirmation, class: "control-label" %>
          <div class="controls">
            <%= f.password_field :password_confirmation, class: "input-xlarge" %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <%= f.submit 'Registrarse', class: "btn btn-success" %>
          </div>
        </div>
      </fieldset>
    <% end %>

    <small><%= render "devise/shared/links" %></small>
  </div>
</div>
