<h1>Users</h1>

<%= link_to "All Users", :action => "index" %> | <%= link_to "Users awaiting approval", :action => "index", :approved => "false" %>

<table>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.approved %></td>
    <% if !user.approved? %>
      <td><%= link_to "Approve", approve_user_path(user), :method => :post %></td>
    <% end %>
  </tr>
  <% end %>
</table>