<%= form_for @episode, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label 'Número Episodio', class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :number, class: 'number_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Título', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Source (mp4)', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :source, class: 'text_field' %>
    </div>
  </div>

  <%= f.hidden_field :series_id, value: @series.id %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', @series, class: 'btn' %>
  </div>
<% end %>
