<h1>Listing episodes</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Source</th>
    <th>Series</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @episodes.each do |episode| %>
  <tr>
    <td><%= episode.number %></td>
    <td><%= episode.title %></td>
    <td><%= episode.source %></td>
    <td><%= episode.series_id %></td>
    <td><%= link_to 'Show', episode %></td>
    <td><%= link_to 'Edit', edit_episode_path(episode) %></td>
    <td><%= link_to 'Destroy', episode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Episode', new_episode_path %>
