<div class="container">

<div class="page-header">
  <h1>Episodio</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Serie:</strong></dt>
  <dd><%= @episode.series.title %></dd>
  <dt><strong>Título:</strong></dt>
  <dd><%= @episode.title %></dd>
  <dt><strong>Número Episodio:</strong></dt>
  <dd><%= @episode.number %></dd>
  <dt><strong>Source (mp4):</strong></dt>
  <dd><%= @episode.source %></dd>
</dl>

<video id="player_a" class="projekktor" title="PhiAnime" width="640" height="360" controls>
  <source src=<%= @episode.source %> type="video/mp4" />
</video>

<div class="form-actions">
  <%= link_to 'Volver', @episode.series, class: 'btn' %>
  <%= link_to 'Editar', edit_episode_path(@episode, series_id: @episode.series.id), class: 'btn' %>
  <%= link_to 'Eliminar', episode_path(@episode), method: 'delete', data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
</div>

</div>
