<ul class="breadcrumb">
  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
  <li><%= link_to @episode.series.title, anime_path(@episode.series.id) %> <span class="divider">/</span></li>
  <li class="active"><%= @episode.title %></li>
</ul>

<div class="row">
  <div class="span2"></div>
  <div class="span8">
    <div class="row">
      <div class="span1"></div>
      <div class="span6">
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav pull-left">
              <% if @pre != nil %>
                <li><%= link_to '<', ep_path(@pre.id) %></li>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <% if @next != nil %>
                <li><%= link_to '>', ep_path(@next.id) %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="centered-text">
          <h5><%= @episode.title %></h5>
        </div>
    
        <video id="player_a" class="projekktor" title="PhiAnime" width="640" height="360" controls>
          <source src=<%= @episode.source.gsub(/mp4/, 'webm') %> type="video/webm" />
          <source src=<%= @episode.source %> type="video/mp4" />
        </video>
      </div>
      <div class="span1"></div>
    </div>
  </div>
  <div class="span2"></div>
</div>