<ul class="breadcrumb">
  <li class="active">Home</li>
</ul>

<ul class="thumbnails">
  <% @series.each do |series| %>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to (image_tag series.image.url(:thumb), :class => "img-rounded"), anime_path(series.id) %>
        <div class="caption">
          <h6><%= series.title %></h6>
        </div>
      </div>
    </li>
   <% end %>
</ul>
