<ul class="breadcrumb">
  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
  <li class="active"><%= @serie.title %></li>
</ul>

<div class="row">
<div class="span6">
  <div class="centered-text"><%= image_tag @serie.image.url(:medium), :class => "img-polaroid" %></div>
</div>
<div class="span6">
  <div class="caption">
    <h3><%= @serie.title %></h3>
    <p><%= @serie.synopsis %></p>
  </div>
</div>
</div>

<table class="table table-hover">
  <thead>
    <th></th>
    <th>Capítulos</th>
  </thead>
  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><strong><%= episode.number %></strong></td>
        <td><%= link_to episode.title, ep_path(episode.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
