<div class="row">
  <div class="span4 offset4 well">
    <legend>Login</legend>
    <% if notice != nil %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
    <% end %>

    <% if alert != nil %>
    <div class="alert alert-error">
      <%= alert %>
    </div>
    <% end %>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.email_field :email, class: "span4", placeholder: :email %>
      <%= f.password_field :password, class: "span4", placeholder: :password %>

      <% if devise_mapping.rememberable? -%>
      <label class="checkbox">
        <%= f.check_box :remember_me %> <%= f.label 'Recordar' %>
      </label>
      <% end -%>

      <%= f.submit "Sign in", class: "btn btn-info btn-block" %>
    <% end %>

    <small><%= render "devise/shared/links" %></small>
  </div>
</div>
