<%= form_for @series, html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :synopsis, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :synopsis, class: 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Imagen', class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, class: 'file_field' %>
    </div>
  </div>

  <div class="form-actions">  
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', series_index_path, class: 'btn' %>
  </div>
<% end %>
