<div class="container">
<ul class="breadcrumb">
  <li><%= link_to 'Home', root_path %> <span class="divider">/</span></li>
  <li class="active">Series</li>
</ul>
<div class="page-header">
  <h1>Series</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Sinopsis</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @series.each do |series| %>
      <tr>
        <td><%= link_to series.title, series %></td>
        <td><%= series.synopsis[0..80]+"..." %></td>
        <td>
          <%= link_to 'Editar', edit_series_path(series), :class => 'btn btn-mini' %>
          <%= link_to 'Eliminar', series, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Agregar', new_series_path, class: 'btn btn-primary' %>

</div>