<div class="container">

<div class="page-header">
  <h1>Serie</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Título:</strong></dt>
  <dd><%= @series.title %></dd>
  <dt><strong>Sinopsis:</strong></dt>
  <dd><%= @series.synopsis %></dd>
  <dt><strong>Imagen:</strong></dt>
  <dd><%= image_tag @series.image.url(:medium) %></dd>
</dl>

<div  class="form-actions">
  <%= link_to 'Volver', series_index_path, class: 'btn' %>
  <%= link_to 'Editar', edit_series_path(@series), class: 'btn' %>
  <%= link_to 'Eliminar', series_path(@series), method: 'delete', data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.number %></td>
        <td><%= link_to episode.title, episode %></td>
        <td>
          <%= link_to 'Editar', edit_episode_path(episode, series_id: @series.id), :class => 'btn btn-mini' %>
          <%= link_to 'Eliminar', episode, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Agregar', new_episode_path(series_id: @series.id), class: 'btn btn-primary'%>

</div>