<!DOCTYPE html>
<html>
<head>
  <title>Anime</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="brand">PhiAnime</div>
      <ul class="nav">
        <% if user_signed_in? %>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="container">
      <%# if notice != nil %>
        <!--<div class="alert alert-info alert-block fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%#= notice %>
        </div>-->
      <%# end %>

      <%# if alert != nil %>
        <!--<div class="alert fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%#= alert %>
        </div>-->
      <%# end %>
        
      <%= yield %>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      projekktor('#player_a', {
        <% if Rails.env == "development" %>
          playerFlashMP4: 'http://localhost:3000/assets/jarisplayer.swf',
          playerFlashMP3: 'http://localhost:3000/assets/jarisplayer.swf'
        <% else %>
          playerFlashMP4: 'http://anime.phifo.cl/assets/jarisplayer.swf',
          playerFlashMP3: 'http://anime.phifo.cl/assets/jarisplayer.swf'
        <% end %>
      });
    });
  </script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17734484-9']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
